@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --sidebar-width: 250px;
    --section-divider-color: #ddd;
    --section-divider-width: 1px;
    --navbar-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-drag: none;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

*::-webkit-scrollbar-thumb {
    background: #bbb;
    cursor: pointer;
    border-radius: 12px;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 1rem;
}

input,
button {
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
}

a {
    color: unset;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a[data-link]:hover {
    color: unset;
    text-decoration: none;
}

.w-6 {
    width: 60px;
}

.h-6 {
    height: 60px;
}

#cancel_bg {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.loading-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    color: transparent !important;
}

.loading-btn::before {
    content: '';
    z-index: 1;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.8);
    border-top: 5px solid transparent;
    animation: loading-btn 1s infinite linear;
}

.single-line-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.text-selectable {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    -khtml-user-select: text;
    cursor: text;
}
.element-dragable {
    -webkit-user-drag: element;
    cursor: grab;
}

.text-highlight {
    background: yellow !important;
}

@keyframes loading-btn {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#app {
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 370px;
    height: auto;
    background: white;
    padding: 32px;
    box-shadow: 0px 1px 8px #ddd;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box .title {
    font-size: 2rem;
}

.box form.form {
    width: 100%;
    height: auto;
    margin: 16px 0;
}

.box form.form .input {
    width: 100%;
    font-size: 1.1rem;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.box form.form .input input {
    width: 100%;
    height: 45px;
    padding: 0px 10px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.box form.form .input a {
    font-size: 0.8rem;
    color: #555;
    margin: 5px 0;
}

.box form.form .input a:hover {
    color: #222;
    font-size: 0.9rem;
}

.box form.form .submit {
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

.box form.form .submit button {
    width: 100%;
    height: 45px;
    font-size: 1.1rem;
    background: #333;
    color: white;
    outline: none;
    border: none;
}

.box .extra a {
    color: #555;
}

.box .extra a:hover {
    color: #222;
    font-size: 1.1rem;
}

.dashboard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        'navb navb navb'
        'side main main'
        'side main main';
    grid-template-rows: var(--navbar-height) 1fr 1fr;
    grid-template-columns: var(--sidebar-width) 1fr 1fr;
}

.dashboard .navbar {
    height: var(--navbar-height);
    background: white;
    grid-area: navb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: var(--section-divider-width) solid var(--section-divider-color);
}

.navbar .sidebar_toggle {
    display: none;
}

.navbar .brand {
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .search_box {
    background: #f0f0f0;
    height: 45px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid transparent;
}

.navbar .search_box svg {
    width: 45px;
    height: 45px;
    padding: 11px;
    color: #111;
}

.navbar .search_box input {
    width: 200px;
    background: transparent;
    height: 100%;
    padding: 0 10px 0 0;
    font-size: 1rem;
}

.navbar .search_box input::-webkit-search-cancel-button {
    appearance: none;
    -webkit-appearance: none;
}

.navbar .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar .profile .profile_label {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
}

.navbar .profile.active .profile_label {
    background: #f5f5f5;
    border: 1px solid #ddd;
}

.navbar .profile .profile_label:hover {
    background: #eee;
}

.navbar .profile .profile_label .icon {
    width: 35px;
    height: 35px;
    background: #555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: white;
    overflow: hidden;
}

.navbar .profile .profile_label .name {
    margin: 0 15px;
    font-size: 1rem;
    color: #333;
    position: relative;
    display: flex;
    align-items: center;
}

.navbar .profile .profile_label .name::after {
    content: '';
    width: 0px;
    height: 0px;
    margin-top: -3px;
    position: absolute;
    right: -15px;
    border: 3px solid transparent;
    border-bottom: 3px solid #333;
    border-left: 3px solid #333;
    transform: rotate(-45deg);
}

.navbar .profile .profile_popup {
    width: 330px;
    background: white;
    border-radius: 4px;
    border: 1px solid #ddd;
    position: absolute;
    right: 0;
    z-index: 1;
    top: calc(100% + 3px);
    box-shadow: 2px 5px 20px #ddd;
    display: none;
    flex-direction: column;
}

.navbar .profile.active .profile_popup {
    display: flex;
}

.navbar .profile .profile_popup .section_one {
    display: grid;
    grid-template-areas:
        'icon name'
        'icon email';
    grid-template-columns: auto 1fr;
    border-bottom: 1px solid #ddd;
    padding: 15px 8px 15px 15px;
}

.navbar .profile .profile_popup .section_one .icon {
    width: 50px;
    height: 50px;
    grid-area: icon;
    background: #555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: white;
    overflow: hidden;
    margin-right: 10px;
}

.navbar .profile .profile_popup .section_one .name {
    grid-area: name;
    font-size: 1rem;
}

.navbar .profile .profile_popup .section_one .email {
    grid-area: email;
    font-size: 0.85rem;
    color: #666;
}

.navbar .profile .profile_popup .section_two {
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-areas:
        'label edit'
        'user edit';
    grid-template-columns: 1fr auto;
    padding: 15px;
}

.navbar .profile .profile_popup .section_two .label {
    grid-area: label;
    font-size: 0.85rem;
    color: #666;
}

.navbar .profile .profile_popup .section_two .username {
    grid-area: user;
    font-size: 1.1rem;
    color: #333;
}

.navbar .profile .profile_popup .section_two .btn_edit {
    height: fit-content;
    grid-area: edit;
    background: white;
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    color: #333;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.navbar .profile .profile_popup .section_two .btn_edit:hover {
    background: #f6f6f6;
}

.navbar .profile .profile_popup .section_three {
    display: flex;
    flex-direction: column;
    padding: 6px 0;
}

.navbar .profile .profile_popup .section_three .btn_signout {
    margin-bottom: 2px;
    padding: 8px 15px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    color: #333;
}

.navbar .profile .profile_popup .section_three>.btn_signout:hover {
    background: #eee;
}

.dashboard .sidebar {
    background: white;
    border-right: var(--section-divider-width) solid var(--section-divider-color);
    grid-area: side;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.sidebar .create_new {
    width: 100%;
    display: flex;
}

.sidebar .create_new button {
    width: auto;
    flex: 1 1 100%;
    height: 45px;
    font-size: 1.1rem;
    background: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 1px 10px #ddd;
    margin: 10px 15px;
}

.sidebar .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
}

.sidebar .menu .menuitem {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 6px 0;
    padding: 4px 0;
    border-radius: 4px;
    position: relative;
    color: #555;
    transition: all 0.1s linear;
}

.sidebar .menu .menuitem.active {
    background: #f6f6f6;
    color: black;
}

.sidebar .menu .menuitem:hover {
    background: #f6f6f6;
    color: black;
}

.sidebar .menu .menuitem:hover>* {
    transition: all 0.2s ease-in-out;
    transform: translateX(5px);
}

.sidebar .menu .menuitem.active::before {
    content: '';
    width: 4px;
    height: 20px;
    background: black;
    border-radius: 4px;
    position: absolute;
    top: 14px;
    left: 0;
}

.sidebar .menu .menuitem .icon {
    width: 40px;
    height: 40px;
    margin: 0 5px 0 10px;
    padding: 9px;
}

.sidebar .menu .menuitem .title {
    width: auto;
}

.dashboard .main {
    height: calc(100vh - var(--navbar-height));
    overflow: hidden;
    background: white;
    grid-area: main;
}

.main>div>.title {
    width: 100%;
    height: 80px !important;
    background: white;
    border-bottom: var(--section-divider-width) solid var(--section-divider-color);
    padding: 10px 30px;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.main .overview_container {
    width: 100%;
    height: 100%;
    background: #f4f6fa;
    display: grid;
    grid-template-areas:
        'view perf'
        'last perf';
    grid-template-rows: min-content 1fr;
    grid-template-columns: 32% 1fr;
    column-gap: 25px;
    row-gap: 25px;
    padding: 25px;
}

.main .overview_container>div>.title {
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    background: #777;
    color: white;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.main .overview_container .links_overview {
    grid-area: view;
    border-radius: 6px;
    overflow: auto;
    background: white;
    padding-bottom: 10px;
    box-shadow: 0 4px 10px #ddd;

}

.main .overview_container .links_overview .item {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 0 20px;
    color: #333;
}

.main .overview_container .links_overview .item svg {
    width: 33px;
    height: 33px;
    padding: 8px;
    background: white;
    box-shadow: 0 0 12px #ddd;
    margin-right: 20px;
    border-radius: 12px;
    color: white;
}

.main .overview_container .links_overview .links_total span.count,
.main .overview_container .links_overview .links_total svg {
    background: #07f;
}

.main .overview_container .links_overview .links_active span.count,
.main .overview_container .links_overview .links_active svg {
    background: #0a0;
}

.main .overview_container .links_overview .links_deactivated span.count,
.main .overview_container .links_overview .links_deactivated svg {
    background: #f04;
}

.main .overview_container .links_overview .links_qrenabled span.count,
.main .overview_container .links_overview .links_qrenabled svg {
    background: rgb(0, 170, 162);
}

.main .overview_container .links_overview .item span.label {
    flex: 1 1 auto;
}

.main .overview_container .links_overview .item span.count {
    min-width: 30px;
    min-height: 20px;
    margin: 0 20px;
    padding: 4px 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: 600;
    opacity: 0.8;
}

.main .overview_container .last_created_links {
    grid-area: last;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 10px #ddd;
    display: flex;
    flex-direction: column;
}

.main .overview_container .last_created_links .view_all_links {
    width: 100%;
    padding: 10px 20px;
    color: #555;
    font-size: 1rem;
    text-align: right;
    border-top: 1.5px solid #eee;
}

.main .overview_container .last_created_links .view_all_links:hover {
    cursor: pointer;
    background: #f9f9f9;
}

.main .overview_container .last_created_links .links_container {
    flex: 1 1 auto;
    background: white;
    overflow: auto;
}

.main .overview_container .last_created_links .links_container .link_list {
    width: 100%;
    height: fit-content !important;
    border: none;
}

.main .overview_container .last_created_links .links_container .link_list .title {
    cursor: unset;
    border-color: #eee;
    font-size: 1.2rem;
    text-align: left;
}

.main .overview_container .last_created_links .links_container .link_list .link {
    border-color: #eee;
}

.main .overview_container .last_created_links .links_container .link_list .link:hover {
    background: #f9f9f9;
}

.main .overview_container .links_performance_overview {
    grid-area: perf;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 10px #ddd;
}

.main .overview_container .links_performance_overview .table_container {
    height: calc(100% - 50px);
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main .overview_container .links_performance_overview .table_container>div {
    width: 100%;
    height: auto;
    padding: 10px 15px 30px 15px;
    overflow-x: auto;
}

.main .overview_container .links_performance_overview .table {
    width: 100%;
    background: #f9f9f9;
    border-radius: 8px;
    overflow: hidden !important;
    border-collapse: collapse;
    box-shadow: 0 1px 7px #ccc;
}

.main .overview_container .links_performance_overview .table caption {
    padding: 10px 20px;
    background: #678;
    color: white;
    font-size: 1.2rem;
}

.main .overview_container .links_performance_overview .table tr:not(.head):hover {
    background: #f1f1f1;
}

.main .overview_container .links_performance_overview .table tr {
    height: 50px;
    padding: 0 200px;
    color: #333;
    border-bottom: 1px solid #ddd;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
}

.main .overview_container .links_performance_overview .table tr.head {
    height: 50px;
    background: #ccc;
    font-weight: bold;
}

.main .overview_container .links_performance_overview .table tr td:last-child {
    padding-right: 20px;
}

.main .overview_container .links_performance_overview .table tr th,
.main .overview_container .links_performance_overview .table tr td {
    padding: 0 10px;
    text-align: center;
}

.main .overview_container .links_performance_overview .table tr td:nth-child(1) {
    padding-left: 20px;
}

.main .overview_container .links_performance_overview .table tr td:nth-child(2) {
    text-align: start;
    padding: 0 20px;
}


.main .links_container {
    width: 100%;
    height: calc(100% - 45px);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    background: #f4f6fa;
}

.main .links_container .link_list {
    width: 30%;
    height: 100%;
    border-right: var(--section-divider-width) solid var(--section-divider-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main .links_container .link_list::before {
    content: 'No Links Found';
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 100px 0;
    color: #888;
}

.main .links_container .link_list .title {
    width: 100%;
    padding: 10px 20px;
    color: #555;
    font-size: 1rem;
    text-align: right;
    border-bottom: var(--section-divider-width) solid var(--section-divider-color);
    cursor: pointer;
}

.main .links_container .link_list .link_list_container {
    width: 100%;
    min-height: calc(200px + 2rem);
    height: calc(100% - 80px) !important;
    overflow: auto;
}

.main .links_container .link_list .link {
    width: 100%;
    background: white;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    padding-right: 10px;
    border-bottom: var(--section-divider-width) solid transparent;
    border-bottom-color: var(--section-divider-color);
    cursor: pointer;
    position: relative;
}

.main .links_container .link_list .link:hover {
    background: #f0f0f0;
}

.main .links_container .link_list .link.active {
    background: #f0f0f0;
}

.main .links_container .link_list .link .link_active {
    content: '';
    width: 10px;
    height: 10px;
    background: green;
    box-shadow: 0px 1px 10px lightgreen;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.main .links_container .link_list .link .link_active.active0 {
    background: red;
    box-shadow: 0px 1px 10px lightcoral;
}

.main .links_container .link_list .link .date_created {
    width: 100%;
    font-size: 0.75rem;
    color: #666;
}

.main .links_container .link_list .link .long_url {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #444;
    font-size: 0.9rem;
    margin-bottom: 6px;
}

.main .links_container .link_list .link .short_url {
    width: auto;
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    color: #111;
    margin-right: 10px;
}

.main .links_container .link_list .link .clicks {
    width: fit-content;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.85rem;
    color: #666;
}

.main .links_container .link_list .link .clicks span {
    height: 17px;
    margin-left: 5px;
}

.main .links_container .link_list .link .clicks svg {
    width: 17px;
    height: 17px;
}

.main .links_container .link_info {
    width: 70%;
    height: 100%;
    overflow: auto;
    display: none;
    flex-direction: column;
    background: #f4f6fa;
}

.main .links_container .link_info.active {
    display: flex;
}

.main .links_container .link_info .link_header {
    width: 100%;
    height: 60px;
    background: white;
    padding: 8px;
    display: none;
    align-items: center;
    border-bottom: var(--section-divider-width) solid var(--section-divider-color);
}

.main .links_container .link_info .link_header .title {
    flex: 1 1 auto;
    font-size: 1.5rem;
    padding: 0 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main .links_container .link_info .link_header svg {
    width: 50px;
    height: 50px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #555;
}

.main .links_container .link_info .link_header svg:hover {
    background: #f0f0f0;
    color: black;
}

.main .links_container .link_info .link_details {
    width: auto;
    height: max-content !important;
    background: white;
    margin: 30px;
    padding: 30px;
    border-radius: 8px;
}

.main .links_container .link_info .link_data {
    width: auto;
    height: max-content !important;
    background: white;
    margin: 30px;
    margin-top: 0;
    padding: 30px;
    border-radius: 8px;
}

.main .links_container .link_info .link_details .title,
.main .links_container .link_info .link_data .short_url {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main .links_container .link_info .link_details .title span,
.main .links_container .link_info .link_data .short_url span {
    width: 100%;
    font-size: 1.5rem;
    color: #333;
    font-weight: 600;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main .links_container .link_info .link_details .title button.edit,
.main .links_container .link_info .link_data .short_url button.copy {
    height: 45px;
    padding: 10px 20px;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    color: #333;
    background: white;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .links_container .link_info .link_details .title button.edit:hover,
.main .links_container .link_info .link_data .short_url button.copy:hover {
    background: #f4f4f4;
    color: #111;
}

.main .links_container .link_info .link_details .datetime_created,
.main .links_container .link_info .link_data .clicks {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5px;
    color: #333;
}

.main .links_container .link_info .link_details .datetime_created svg,
.main .links_container .link_info .link_data .clicks svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.main .links_container .link_info .link_details .datetime_created span,
.main .links_container .link_info .link_data .clicks span {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main .links_container .link_info .link_details .clicks,
.main .links_container .link_info .link_data .qr_scans,
.main .links_container .link_info .link_data .long_url {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5px;
    color: #333;
}

.main .links_container .link_info .link_details .clicks svg,
.main .links_container .link_info .link_data .qr_scans svg,
.main .links_container .link_info .link_data .long_url svg {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.main .links_container .link_info .link_details .clicks span,
.main .links_container .link_info .link_data .qr_scans span,
.main .links_container .link_info .link_data .long_url a {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main .links_container .link_info .link_data .qr_section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.main .links_container .link_info .link_data .qr_section .title {
    width: 100%;
    font-size: 1.2rem;
    color: #444;
    font-weight: 600;
    margin-bottom: 10px;
}

.main .links_container .link_info .link_data .qr_section .qr_code {
    width: fit-content;
    display: none;
    margin: 0 20px 15px 0;
}

.main .links_container .link_info .link_data .qr_section.active .qr_code {
    display: flex;
}

.main .links_container .link_info .link_data .qr_section .qr_code canvas {
    width: 130px;
    background: white;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    opacity: 0.7;
}

.main .links_container .link_info .link_data .qr_section .qr_actions {
    width: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.main .links_container .link_info .link_data .qr_section .qr_actions button {
    padding: 10px 20px;
    margin-bottom: 5px;
    background: white;
    border: 1.5px solid #ccc;
    color: #444;
    border-radius: 4px;
    display: none;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.main .links_container .link_info .link_data .qr_section .qr_actions button.generate {
    display: flex;
}

.main .links_container .link_info .link_data .qr_section.active .qr_actions button {
    display: flex;
}

.main .links_container .link_info .link_data .qr_section.active .qr_actions button.generate {
    display: none;
}

.main .links_container .link_info .link_data .qr_section .qr_actions button:hover {
    background: #f4f4f4;
    color: #222;
}

.main .links_container .link_info .link_data .qr_section .qr_actions button svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.dialog {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -100%;
    left: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: start;
    z-index: 30;
    padding: 50px 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
}

.dialog.show {
    top: 0;
}

.dialog .dialog_box {
    max-width: 420px;
    width: 100%;
    max-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: white;
    border: var(--section-divider-width) solid var(--section-divider-color);
    border-radius: 4px;
    color: #333;
    pointer-events: all;
    overflow: hidden;
}

.dialog_box .dialog_header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--section-divider-width) solid var(--section-divider-color);
}

.dialog_box .dialog_header .title {
    width: 100%;
    padding: 0 20px;
    font-size: 1.15rem;
}

.dialog_box .dialog_header .close_btn {
    width: 60px;
    height: 60px;
    padding: 12px;
    cursor: pointer;
}

.dialog_box .dialog_header svg {
    width: 100%;
    height: 100%;
}

.dialog_box .dialog_body {
    width: 100%;
    height: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.dialog_box .dialog_body .input {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    position: relative;
}

.dialog_box .dialog_body .input input {
    width: 100%;
    height: 45px;
    margin: 5px 0;
    padding: 0px 10px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.dialog_box .dialog_body .input.shorturl {
    flex-direction: row;
    flex-wrap: wrap;
}

.dialog_box .dialog_body .input.shorturl label {
    width: 100%;
}

.dialog_box .dialog_body .input.shorturl span.input_prefix {
    width: auto;
    height: 45px;
    margin: 5px 0;
    padding: 0px 20px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
    background: #f4f4f4;
    color: #666;
}

.dialog_box .dialog_body .input.shorturl span.divider {
    margin: 0 15px;
    display: flex;
    align-items: center;
}

.dialog_box .dialog_body .input.shorturl input {
    width: auto;
    min-width: fit-content;
    flex: 1 1 auto;
}

.dialog_box .dialog_body .input.shorturl input.readonly {
    background: #f4f4f4;
    color: #666;
    cursor: pointer;
}

.dialog_box .dialog_body .linkactive {
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dialog_box .dialog_body .linkactive label {
    margin-right: 15px;
}

.dialog_box .dialog_body .linkactive input {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #fff;
    transition: all 0.05s linear;
}

.dialog_box .dialog_body .linkactive input::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    background: transparent;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.1s linear;
}

.dialog_box .dialog_body .linkactive input:checked {
    box-shadow: inset 20px 0 0 0 #4ed164;
    border-color: #4ed164;
}

.dialog_box .dialog_body .linkactive input:checked::after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

.dialog_box .dialog_footer {
    width: 100%;
    min-height: 70px;
    border-top: var(--section-divider-width) solid var(--section-divider-color);
    display: flex;
    justify-content: end;
    align-items: center;
}

.dialog_box .dialog_footer #form_submit {
    height: 45px;
    margin: 0 20px;
    padding: 0 15px;
    background: #07F;
    color: white;
    font-weight: bold;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.main .profile_container {
    width: 100%;
    height: 100%;
    background: #f4f6fa;
    display: flex;
    flex-direction: column;
}

.main .profile_container .profile_view {
    max-width: 500px;
    width: 100%;
    height: 100%;
    background: white;
    border-right: var(--section-divider-width) solid var(--section-divider-color);
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
}

.main .profile_container .profile_view .input {
    width: 100%;
}

.main .profile_container .profile_view .input form {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .profile_container .profile_view .input label {
    width: 100%;
}

.main .profile_container .profile_view .input input {
    width: calc(100% - 95px);
    height: 45px;
    background: #eee;
    margin: 10px 0;
    border-radius: 4px;
    color: #333;
}

.main .profile_container .profile_view .input button {
    width: 85px;
    height: 45px;
    margin: 10px 0;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.main .profile_container .profile_view .input.display_name button {
    background: #07f;
}

.main .profile_container .profile_view .input.email button {
    background: #0a0;
}

.main .profile_container .profile_view .input.username button {
    background: rgb(0, 170, 162);
}

.main .profile_container .profile_view .input.password button {
    background: #f04;
}

/* Screen Breakpoints */
@media screen and (max-width:1180px) {
    .main .overview_container {
        grid-template-columns: 40% 1fr;
    }

    .main .links_container .link_list {
        width: 40%;
    }

    .main .links_container .link_info {
        width: 60%;
    }
}

@media screen and (max-width:900px) {
    .main .overview_container {
        column-gap: 20px;
        row-gap: 20px;
        padding: 20px;
        grid-template-areas:
            'view'
            'last'
            'perf';
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
        overflow: auto;
    }

    .main .links_container .link_list {
        width: 45%;
    }

    .main .links_container .link_info {
        width: 55%;
    }
}

/* Sidebar Break point */
@media screen and (max-width:768px) {
    .dashboard {
        grid-template-areas:
            'navb navb navb'
            'main main main'
            'main main main';
    }

    .navbar .sidebar_toggle {
        width: 45px;
        height: 45px;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 4px;
    }

    .navbar .sidebar_toggle:hover {
        background: #eee;
    }

    .navbar .profile .profile_label .name {
        display: none;
    }

    .dashboard .sidebar {
        max-width: var(--sidebar-width);
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -200%;
        z-index: 20;
        right: 50px;
        transition: all 0.3s ease-out;
    }

    .sidebar.show {
        left: 0;
    }

    .main .links_container .link_list {
        width: 40%;
    }

    .main .links_container .link_info {
        width: 60%;
    }

    .main .profile_container {
        align-items: center;
    }

    .main .profile_container .profile_view {
        border-left: var(--section-divider-width) solid var(--section-divider-color);
    }
}

@media screen and (max-width:550px) {
    .navbar .search_box {
        background: transparent;
    }

    .navbar .search_box:hover {
        background: #eee;
        cursor: pointer;
    }

    .navbar .search_box.active {
        background: #eee;
        border: 1px solid #ccc;
    }

    .navbar .search_box svg {
        padding: 8px;
    }

    .navbar .search_box .input {
        display: none;
        position: absolute;
        width: 100%;
        flex: 1 1 auto;
        height: 70px;
        top: var(--navbar-height);
        left: 0;
        background: white;
        z-index: 2;
        padding: 8px 15px;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 2px 8px #ddd;
    }

    .navbar .search_box.active .input {
        display: block;
    }

    .navbar .search_box .input input {
        background: #f0f0f0;
        width: 100%;
        border-radius: 4px;
        padding: 0 10px;
    }

    .main .overview_container {
        grid-template-columns: 1fr;
        column-gap: 10px;
        row-gap: 10px;
        padding: 10px;
    }

    .main .links_container .link_list {
        width: 100%;
    }

    .main .links_container .link_info {
        width: 100vw;
        height: 100vh !important;
        display: flex;
        border: var(--section-divider-width) solid var(--section-divider-color);
        box-shadow: 2px 2px 10px #ccc;
        position: fixed;
        z-index: 10;
        top: 0;
        left: -200%;
        transition: left 0.3s ease;
    }

    .main .links_container .link_info.active {
        left: 0;
    }

    .main .links_container .link_info.active .link_header {
        display: flex;
    }

    .main .links_container .link_info .link_details,
    .main .links_container .link_info .link_data {
        margin: 10px;
        padding: 20px;
    }

    .dialog {
        height: 100%;
        padding: 0;
    }

    .dialog .dialog_box {
        max-width: 100% !important;
        max-height: 100vh;
        height: 100%;
        flex: 1 1 100%;
    }

    .main .profile_container .profile_view {
        max-width: 100%;
    }
}